{% extends 'base.html' %}
{% load static %}
{% block body %}

<body>
<div class="page-wraper">
	{% comment %} <div id="loading-area" class="preloader-wrapper-1">
		<div class="preloader-inner">
			<div class="preloader-shade"></div>
			<div class="preloader-wrap"></div>
			<div class="preloader-wrap wrap2"></div>
			<div class="preloader-wrap wrap3"></div>
			<div class="preloader-wrap wrap4"></div>
			<div class="preloader-wrap wrap5"></div>
		</div> 
	</div> {% endcomment %}
		
	<div class="page-content">
		<!-- inner page banner -->
			<div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm" style="background-image:url(images/background/bg3.jpg);">
				<div class="container">
					<div class="dz-bnr-inr-entry">
						<h1>Cart</h1>
						<nav aria-label="breadcrumb" class="breadcrumb-row">
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html"> Home</a></li>
								<li class="breadcrumb-item">Cart</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<!-- inner page banner End-->
		
		<!-- contact area -->
		<section class="content-inner shop-account">
			<!-- Product -->
			<div class="container">
				<div class="row mb-5">
					<div class="col-lg-12">
						<div class="table-responsive">
							<table class="table check-tbl">
								<thead>
									<tr>
										<th>Product</th>
										<th>Product name</th>
										<th>Unit Price</th>
										<th>Quantity</th>
										<th>Total</th>
										<th class="text-end">Close</th>
									</tr>
								</thead>
								<tbody>
								
								{% for i in cart_data %}
									<tr>
										<td class="product-item-img">
											{% if i.Book.thumbnail != '' %}
									          <img src="{{ i.book.thumbnail}}">
									{% else %}
									<p class="no-image">No cover image available</p>
									{% endif %}
										</td>
										<td class="product-item-name">{{i.book.title}}</td>
										<td class="product-item-price">₹{{i.book.price}}</td>
										<td class="product-item-quantity">
											<div class="quantity btn-quantity style-1 me-2">
												<form method="post" action="{% url 'cartview' %}">
													{% csrf_token %}
													<input type="hidden" name="product_id" value="{{ i.book.id }}">
													<input type="number" name="quantity" value="{{ i.quantity }}" size="20" min="1" max="5">
													<button class="btn btn-primary btnhover btn-sm" type="submit" style="margin-bottom:6px">Update Quantity</button>
												</form>
											</div>
											
										</td>
										<td class="product-item-totle">{{i.product_total}}</td>
										<!-- <td class="product-item-close"><a href="javascript:void(0);" class="ti-close"></a></td> -->
										<td class="product-item-close"><a href="{% url 'rem_cart' i.id %}"><i class="fa fa-times"></i></a></td>
									</tr>
									{% endfor %}	
								</tbody>
							</table>
						</div>
					</div>
					
				</div>
				<div class="row">
					<div class="col-lg-6">
						
					</div>
					<div class="col-lg-6">
						<div class="widget">
							<h4 class="widget-title">Cart Subtotal</h4>
							<table class="table-bordered check-tbl m-b25">
								<tbody>
									<tr>
										<td>Order Subtotal</td>
										<td>{{subtotal}}</td>
									</tr>
									<tr>
										<td>GST</td>
										<td>{{GST}}</td>
									</tr>
									
									<tr>
										<td>Total</td>
										<td>{{grand_total}}</td>
									</tr>
								</tbody>
							</table>
							<div class="form-group m-b25">
								<a href="/checkout/" class="btn btn-primary btnhover" type="button">Proceed to Checkout</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Product END -->
		</section>
		<!-- contact area End--> 
	
	</div>
		
	<!-- Footer -->
	<footer class="site-footer style-1">
		<!-- Footer Category -->
		<div class="footer-category">
			<div class="container">
				<div class="category-toggle">
					<a href="javascript:void(0);" class="toggle-btn">Books categories</a>
					<div class="toggle-items row book-grid-row">
						<div class="footer-col-book">
							<ul>
								<li><a href="books-grid-view.html">Architecture</a></li>
								<li><a href="books-grid-view.html">Art</a></li>
								<li><a href="books-grid-view.html">Action</a></li>
								<li><a href="books-grid-view.html">Biography</a></li>
								<li><a href="books-grid-view.html">Body, Mind & Spirit</a></li>
								<li><a href="books-grid-view.html">Business & Economics</a></li>
								<li><a href="books-grid-view.html">Children Fiction</a></li>
								<li><a href="books-grid-view.html">Children Non-Fiction</a></li>
								<li><a href="books-grid-view.html">Comics & Graphics</a></li>
								<li><a href="books-grid-view.html">Cooking</a></li>
								<li><a href="books-grid-view.html">Crafts & Hobbies</a></li>
								<li><a href="books-grid-view.html">Design</a></li>
								<li><a href="books-grid-view.html">Drama</a></li>
								<li><a href="books-grid-view.html">Education</a></li>
								<li><a href="books-grid-view.html">Family & Relationships</a></li>
								<li><a href="books-grid-view.html">Fiction</a></li>
								<li><a href="books-grid-view.html">Foreign Language</a></li>
								<li><a href="books-grid-view.html">Games</a></li>
								<li><a href="books-grid-view.html">Gardening</a></li>
								<li><a href="books-grid-view.html">Health & Fitness</a></li>
								<li><a href="books-grid-view.html">History</a></li>
								<li><a href="books-grid-view.html">House & Home</a></li>
								<li><a href="books-grid-view.html">Humor</a></li>
								<li><a href="books-grid-view.html">Literary Collections</a></li>
								<li><a href="books-grid-view.html">Mathematics</a></li>
								<li><a href="books-grid-view.html">Medical</a></li>
								<li><a href="books-grid-view.html">Nature</a></li>
								<li><a href="books-grid-view.html">Performing Arts</a></li>
								<li><a href="books-grid-view.html">Pets</a></li>
								<li><a href="books-grid-view.html">Show others</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer Category End -->
		
		{% comment %} soter> {% endcomment %}
	<!-- Footer End -->
	
	<button class="scroltop" type="button"><i class="fas fa-arrow-up"></i></button>
</div>
{% endblock body %}	


</body>

<!-- Mirrored from bookland.dexignzone.com/xhtml/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 12 Aug 2023 16:57:20 GMT -->
</html>